<link rel="import" href="../polymer/polymer.html" />
<link rel="import" href="page-router-slot.html" />
<link rel="import" href="page-link.html" />

<dom-module id="page-router">
    <script src="../page/page.js"></script>
    <script>
    (function() {

        Polymer({
            is: 'page-router',

            properties: {
              lazy: {
                type: Boolean,
                value: true
              },

              config: {
                  type: Object,
                  value: function() {
                      return {
                          pushstate: true,
                          hashbang: true
                      }
                  }
              }
            },

            route: function(routeConfig) {
                var path = routeConfig.path;
                var comp = routeConfig.comp;
                var routename = routeConfig.name;


                this.page(path, function(ctx) {
                    ctx.route = routeConfig;
                    ctx.routename = routename;
                    ctx.query = this._parseQuerystring(ctx.querystring);

                    if(this.lazy === true) {
                        Polymer.Base.importHref(this.constructComponentPath(comp), function(e) {
                            this.updateSlotWithComponent('main', comp, ctx);

                        }.bind(this), this._componentLoadError);
                    }
                    else {
                      this.updateSlotWithComponent('main', comp, ctx);
                    }
                }.bind(this));
            },

            _parseQuerystring: function(querystring) {
                var query = {};

                if (!querystring) return query;

                var pairs = querystring.split('&');
                pairs.map(function(pair) {
                    var parts = pair.split('=');
                    var key = parts[0];
                    var value = window.decodeURIComponent(parts[1]);

                    query[key] = value;
                }.bind(this));

                return query;
            },

            constructComponentPath: function(compName) {
                throw 'page-router.constructComponentPath() needs to be overridden.'
            },

            ready: function() {
                try {
                    this.page = require('page');
                }
                catch(ex) {
                    console.warn('Couldn\'t require(\'page\'). Will try to load via script file.');

                    // TODO: Load page.js only when not webpacked
                    this.page = window.page;
                }

                this.routerSlot = this.create('page-router-slot');
            },

            base: function(basePath) {
                this.page.base(basePath);
            },

            start: function() {
                this.page(this.config);
            },

            updateSlotWithComponent: function(slotName, compName, context) {
                var slot = this._getSlot(slotName);

                if(slot) {
                    slot.updateComponent(compName, context);
                }
            },

            _getSlot: function(slotName) {
                return this.routerSlot.get(slotName);
            },

            _componentLoadError: function(err) {
                console.error('Router was unable to load component. ', err);
            },

            goto: function(path) {
                if(this.config.hashbang) {
                  path = `#!${path}`;
                }

                this.page(path);
            }
        });
    })()
    </script>
</dom-module>
