<link rel="import" href="../polymer/polymer.html" />

<dom-module id="bs-router-slot">
    <script>
    (function() {
        var slots = [];

        Polymer({
            is: 'page-router-slot',

            properties: {
                name: {
                    type: String,
                    value: 'main'
                }
            },

            ready: function() {
                slots.push(this);
            },

            get: function(name) {
                for(var i = 0; i < slots.length; i++) {
                    var slot = slots[i];
                    if(slot.name === name) return slot;
                }
            },

            updateComponent: function(componentName, context) {
                if(!this.component || this.component.nodeName.toLowerCase() !== componentName.toLowerCase()) {
                    this.component = this.create(componentName, {context});

                    while(this.firstChild) this.removeChild(this.firstChild);

                    this.appendChild(this.component)
                }
                else {
                    this.component.set('context', context);
                }
            }
        });
    })();
    </script>
</dom-module>
